# Arquivos de segurança
.security/private.key
.security/*.key.bak
.security/*.pem.bak

# Permitir
!.security/public.key
!.security/certificate.pem
!.security/sign_project.sh
!.security/manifest.json
!.security/signature.sha512

# Dependências
node_modules/
.pnp
.pnp.js

# Builds
.next/
out/
build/
dist/

# Misc
.DS_Store
*.pem
.env*
.env.local
.env-*

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE
.idea/
.vscode/

# Rust
target/
Cargo.lock
